<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.gggApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>GIGLibrary</string>
			</array>
		</dict>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses VIPER and create the basic folder structure </string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist</string>
						<string>Assets.xcassets</string>
						<string>AppDelegate.swift</string>
						<string>../fastlane</string>
						<string>Global</string>
						<string>Common</string>
						<string>Sections</string>
						<string>Resources</string>
						<string>AppWireframe.swift</string>
						<string>AppController.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Supporting Files/Info.plist</string>
		</dict>
		<key>Resources</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../Gemfile</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Gemfile</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../fastlane</key>
		<dict>
			<key>Path</key>
			<string>fastlane</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>Global</key>
		<dict>
			<key>Path</key>
			<string>Global</string>
		</dict>
		<key>Common</key>
		<dict>
			<key>Path</key>
			<string>Common</string>
		</dict>
		<key>Sections</key>
		<dict>
			<key>Path</key>
			<string>Sections</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>AppWireframe.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>App/AppWireframe.swift</string>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>App/AppDelegate.swift</string>
		</dict>
		<key>AppController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>App</string>
			</array>
			<key>Path</key>
			<string>App/AppController.swift</string>
		</dict>
	</dict>
</dict>
</plist>
