<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>GIGSection</string>
	<key>Description</key>
	<string>A VIPER section</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Placeholder</key>
			<string>SectionName (without suffix)</string>
			<key>Description</key>
			<string>The section name (without any suffix, i.e. &quot;Login&quot;)</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Section Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Section files:</string>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Presenter / ___VARIABLE_sceneName:identifier___VC / ___VARIABLE_sceneName:identifier___Wireframe  </string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>A VIPER section</string>
</dict>
</plist>
